* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul,
h2,
p {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  color: beige;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  min-width: 360px;
}

header,
main{
  padding: 0 4%;
}

