header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
}

.logo {
    max-width: 136px;
    max-height: 32px;
}

header nav ul {
    display: flex;
    gap:20px;
}

.nav-buttons ul{
    position: relative;
}
.nav-buttons ul li {
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-buttons ul li:after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}

.nav-buttons ul li:hover:after {
    width: 100%;
}

@media (max-width:800px) {

    header nav ul {
        padding-top: 20px;
        font-size: 1rem;
        flex-wrap: wrap;
        gap:10px;
    }

    header nav ul li:hover {
        border-radius: 5px;
        background-color: #2e2e2e;
    }

    .nav-buttons ul li:after {
        display: none;
    }
}

@media (max-width:600px) {
    
    header section {
        flex-direction: column;
        align-items: flex-start;      
    }
}