/* Font-family */

/* Roboto-500 */

.rb-5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

/* formata o estilo da font para 18px 400 weight*/

.rb-18px {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(178, 178, 178, 1);
}

/* formata o estilo da font para 24px */
.rb-24px {
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 36px;
  color: rgba(178, 178, 178, 1);
}

@media (max-width: 1200px) {
  .rb-24px {
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 20px;
    color: rgba(178, 178, 178, 1);
  }
}

/* Poppins-Family */

.pop-6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.pop-4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* ------Poppins 32px ------ */

.pop-32px {
  font-family: Poppins;
  font-size: 2rem;
  font-weight: 600;
  line-height: 40px;
}

/* Formata os titulos principais */

.pop-64px {
  font-family: Poppins;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
}

@media (max-width: 1200px) {
  .pop-64px {
    font-size: 3rem;
    line-height: 50px;
  }
}

@media (max-width: 1200px) {
  .pop-64px {
    font-size: 2rem;
    line-height: 50px;
  }
}


/* align-container */

/* Alinha o container com um padding-left de 160px */

.align-container {
  margin: 0px auto;
  max-width: 1200px;
  color: #fff;
}

@media (max-width: 800px) {
  .align-container {
    padding-left: 0px;
  }
}

/* ------ Botoes ------ */

/* b-yellow */

/* Estiliza os botoes em amalero */

.b-yellow {
  height: 56px;
  width: 217px;
  border-radius: 5px;
  padding: 16px, 32px, 16px, 32px;
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .b-yellow {
    width: 9rem;
    height: 3.5rem;
    padding: 8px, 16px, 8px, 16px;
    font-size: 0.8rem;
  }
}

/* ------ Ponto final estilizado ------ */

.dot {
  color: rgba(255, 187, 0, 1);
}
