.partner {
  padding-bottom: 100px;
  padding-top: 100px;
  display: grid;
  gap: 60px;
}

.partner h2 {
  color: black;
}

.partner img {
  max-width: 100%;
  display: block;
}

.partner ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.partner li {
  display: flex;
  padding: 25px;
  justify-content: center;
}

@media (max-width: 1200px) {
    .partner {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media (max-width: 800px) {
  .partner ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .partner ul li:nth-child(1){
    border-bottom: solid 2px #ededed;
  }
  .partner ul li:nth-child(2){
    border-bottom: solid 2px #ededed;
  }
  .partner ul li:nth-child(3){
    border-left: none;
  }
  .partner ul li:nth-child(7){
    border-left: none;
  }
}
