.head {
    background-color: #111;
}

.head div {
    padding: 60px 0px;
}

.head span {
    padding-bottom: 8px;
    text-transform: uppercase;
}

@media (max-width:1200px) {
    .head div {
        padding: 30px 4%;
    }
}