.contact-bg {
    background-color: #111;
    box-shadow: inset 0px -200px white;
    color: white;
}

.contact-form {
    display: grid;
    grid-template-columns: 5fr 7fr;
}

@media (max-width:800px) {
    .contact-form {
        grid-template-columns: 1fr;
    }
}
