.terms-list {
    background-color: white;
}

.terms-list section {
    padding: 120px 0px;
    display: grid;
    gap: 48px;
}

.terms-list article {
    width: 100%;
    display: grid;
    gap: 20px;
}

.terms-list article ul {
    display: grid;
    gap: 20px;
}

.terms-list article ul ol{
    color: rgba(46, 46, 46, 1);
    max-width: 760px;
}

@media (max-width:800px) {
    .terms-list section {
        padding: 80px 0px;
    }

    .terms-list article {
        gap: 30px;
    }
    
    .terms-list article ul {
        display: grid;
        gap: 30px;
    }
}