.budget-bg {
    box-shadow: inset 0px 300px #111;
    padding-bottom: 60px;
}

.budget-form {
    color: white;
}

.budget-form {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.budget-form h2 {
    text-transform: uppercase;
}

.budget-form h2::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 8px;
    margin-right: 8px;
    background-color: #FFBB00;
}

@media (max-width:800px) {
    .budget-choose {
        border-radius: 5px 5px 0px 0px !important;
    }

    .budget-form-list {
        border-radius: 0px 0px 5px 5px !important;
    }

    .budget-form {
        grid-template-columns: 1fr;
    }
}
